* {
    box-sizing: border-box;
}

.footer {
    padding: 25px;
    width: 100%;
    text-align: center; /* Center-align text */
}

.title-foot {
    font-weight: 500;
}

.spacer {
    height: 50px;
}
